#suggestedprofiles {
	margin-top: 85px;
	padding: 0 10px;
}

.suggested-profiles-container {
	margin: 35px 0;
}

.profile-image img {
	width: 40px;
	height: 40px;
    border: solid 2px #f0f0f0;
    transition: all ease-in-out 400ms;
	background: #f0f0f0;
	flex: 8;
	border-radius: 100%;
	margin-right: 10px;
	object-fit: cover;
	vertical-align: middle;
}

.profile-info {
	display: flex;
	align-items: center;
}

.profile-bio {
	margin: 5px 0;
	word-wrap: break-word;
}

.profile-interest {
	font-size: 11px;
	color: grey;
}

.profile-message-button {
	font-size: 11px;
	flex: 2;
	text-align: right;
	color: grey;
}

.profile-message-button img {
	width: 20px;
	position: absolute;
	right: 15px;
	vertical-align: middle;
	height: 20px;
}

@media screen and (min-width: 738px) {
	.profile-interest {
		font-size: 13px;
    }
    
    .profile-image img{
        width: 50px;
        transition: all ease-in-out 400ms;
        height: 50px;
    }
}
